@import "reset";

html{
    font-family: 'Montserrat', sans-serif;
}
.hidden {
    display: none;
}
//////////// CLASS UTILE /////////////

.open {
    display:block;
}

.close {
    display:none;
}

.borderRight {
    border-right: 1px solid #000;
}
.borderTop {
    border-top: 1px solid #000;
}
.borderNone{
    border: none;
}

///////////// CSS //////////////

body {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    height: 100vh;
    
    header {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 2fr;

        section {
            grid-column: 1/2;
            display: grid;
            grid-template-columns: 0.5fr 0,5fr 1fr;
            
            .bi-chevron-bar-left {
                align-self: center;
                justify-self: center;
                font-size: 3rem;
            }
            #side-menu-btn {
                font-size: 3rem;
                background: none;
                border: none;
                cursor: pointer;
            }
            
            figure {
                padding: 10px;
                text-align: center;
                grid-column: 3/4;
                
                img {
                    font-size: 2rem;
                }
            }
            
        }
        section:nth-of-type(2) {
            grid-column: 2/3;
        }

    }
    
    main {
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 2fr;

        aside {
            border-right: 1px solid #000;
            
            nav {
                margin-bottom: 20px;
                
                h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;
                    padding-left: 10px;
                }
                
                a {
                    text-decoration: none;
                    color: #000;
                }
                

                &>ul {
                    padding: 0 0 0 20px;
                    
                    li {
                        text-transform: uppercase;
                        padding: 5px 0 10px 0;
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        section {
            grid-column: 2/3;
            border-top: 1px solid #000;
            padding: 20px 0 0 20px;
            
            .addUser{
                background-color:#023E8A;
                color:#fff;
                border: none;
                padding: 10px;
                border-radius: 5px;
                margin-top: 5vh;
                margin-bottom: 5vh;
            }
        }
        .sectionGrid {
            grid-column: 1/3;
        }
    }
}

